blinker==1.9.0
click==8.3.0
emoji==2.12.1
Flask==3.0.3
flask-cors==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.3
nltk==3.9.2
numpy==2.3.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
six==1.17.0
textblob==0.17.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.3
