.container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
